<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Server=TATIANE-PC; Database=BancoAppAcaoVendas; User Id=administrador; PassWord=adm" />
  </connectionStrings>
  
  <appSettings>
    <add key="txtImportaPath" value="C:\Acao\Importa\" />
    <add key="txtExportaPath" value="C:\Acao\Exporta\" />
    <add key="nomeArquivoTxtExporta" value="REMESSA.txt" />
    <add key="nomeArquivoTxtImporta" value="PEDIDO.txt" />
    <add key="txtLogPath" value="C:\Acao\Logs\" />
  </appSettings>
</configuration>