<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
      <add name="connection" connectionString="Server=TATIANE-PC; Database=BancoAppAcaoVendas; User Id=administrador; PassWord=adm" />
  </connectionStrings>
  
  <!--<appSettings>
    <add key="logPath" value="C:\Users\Tatiane\Documents\MEGA\Method's\Ação Vendas\LogErroWCFAcaoVendas" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceConfiguration">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    
    <services>
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoMensagem">
        <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8000"/>
          <!--<add baseAddress="net.tcp://localhost:9000"/>-->
        </baseAddresses>
        </host>
          <endpoint address="ServiceInfoMensagem"  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
            contract="WCFAcaoVendas.Services.IServiceInfoMensagem" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoFormaPagamento">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoFormaPagamento" />
      </service>
    
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoClientes">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoClientes" />
      </service>
    
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoDesdobramentoFaturamento">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoDesdobramentoFaturamento" />
      </service>
                 
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoDividas">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoDividas" />
      </service> 
    
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoGerais">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoGerais" />
      </service> 
        
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoNF">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoNF" />
      </service> 
      
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoPedidos">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoPedidos" />
      </service> 
      
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoPreco">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoPreco" />
      </service> 
      
      <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoProduto">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
          contract="WCFAcaoVendas.Services.IServiceInfoProduto" />
      </service> 

       <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceInfoSoftware">
          <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
            contract="WCFAcaoVendas.Services.IServiceInfoSoftware" />
        </service>
    
        <service behaviorConfiguration="ServiceConfiguration" name="WCFAcaoVendas.Services.ServiceLoginVendedor">
          <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="basicHttpSecure"
            contract="WCFAcaoVendas.Services.IServiceLoginVendedor" />
        </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpSecure" maxBufferSize="2147483647"
      maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="100000" maxStringContentLength="100000"/>
          <!--<security mode="TransportWithMessageCredential" />-->
        </binding>
      </basicHttpBinding>
      <!--<basicHttpBinding>
        <binding name="teste" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          --><!--<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />--><!--
        </binding>
      </basicHttpBinding>-->
    </bindings>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>
  
  <system.webServer>
  
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    
    <!--<directoryBrowse enabled="true"/>-->
  </system.webServer>

</configuration>
